@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 20px;
}

body {
  overflow: hidden;
}

.control-panel {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100vw;
  padding: 10px;
  height: 15vh;
  color: white;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-panel-1 {
  width: 350px;
}

.button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #3279a8;
  color: white;
  border-radius: 5px;
}
